/* ==========================================================================
   Config

   This file is exclusively intended for setting up imports
   Never add styles directly to this file
   ========================================================================== */

/* Vendors
   ========================================================================== */
@import "vendors/bootstrap-vars";

/* General
   ========================================================================== */
@import "general/colors",
        "general/fonts",
        "general/sizes",
        "general/typography";
