<nav>
  <a [routerLink]="['/']"> Back to homepage</a>
</nav>
<h1>My leisure time activities</h1>

<main class="container">
  <div *ngFor="let date of dates">
    <h2>{{date.format('dddd, MMMM D YYYY')}}</h2>

    <section class="section-item" *ngFor="let timetableItem of data?.timetable">
      <ng-container *ngIf="date === timetableItem.date">
        <h2>{{timetableItem.title}}</h2>
        <p>Start time: <time> {{timetableItem.startTime}} </time></p>
        <p>End time: <time> {{timetableItem.endTime}} </time></p>
        <p>Description: {{timetableItem.description}}</p>
        <p *ngIf="timetableItem.roomName">Room: {{timetableItem.roomName}}</p>
        <div *ngIf="timetableItem.roomDescription">RoomDescription: <span [outerHTML]="timetableItem.roomDescription"></span></div>
      </ng-container>
    </section>
  </div>
</main>

