/* ==========================================================================
   Sizes

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$container-width--wide: 1900px;
$container-width: 1800px;
$container-width--narrow: 800px;


/* Margins
   ========================================================================== */
$small-margin: 0.5rem;
$default-margin: 2rem;
$large-margin: 4rem;
