<nav>
  <a [routerLink]="['/']"> Back to homepage</a>
</nav>
<md-toolbar color="primary">
  <div fxLayout="row wrap" fxLayoutAlign="space-between">
  <h1>My workshops</h1>
  </div>
</md-toolbar>

<main class="container" *ngIf="dates">
  <!--only today-->
  <section *ngIf="showOnlyToday == true">
    <header>
      <button (click)="selectDayBefore()" *ngIf="currentActivityDateIndex > 0">Previous day</button>
      <span *ngIf="currentActivityDateIndex === 0">First day</span>
      <button (click)="selectDayAfter()" *ngIf="currentActivityDateIndex < this.dates.length - 1">Next day</button>
      <span *ngIf="currentActivityDateIndex === this.dates.length - 1">Last day</span>
      <button (click)="showAllActivities()">Show all workshops</button>
    </header>
    <h2>{{currentDate.format('dddd, MMMM D YYYY')}}</h2>

    <div *ngIf="currentActivities?.length === 0">No workshops</div>
    <article *ngFor="let timetableItem of currentActivities">
      <h3>{{timetableItem.title}}</h3>
      <p>Leader: {{timetableItem.wsLeader}}</p>
      <p>Co-tutor: {{timetableItem.wsCotutor}}</p>
      <p>Start time:
        <time> {{timetableItem.startTime}} </time>
      </p>
      <p>End time:
        <time> {{timetableItem.endTime}} </time>
      </p>
      <p>Room: {{timetableItem.roomName}}</p>
      <div *ngIf="timetableItem.roomDescription">RoomDescription: <span [outerHTML]="timetableItem.roomDescription"></span></div>
      <p>Description: {{timetableItem.description}}</p>
    </article>
  </section>

  <!--All workshops-->
  <div *ngIf="showOnlyToday == false">
    <header>
      <button (click)="showTodaysActivities()">Show today's workshops</button>
    </header>
    <section class="section-item" *ngFor="let date of dates">
      <h2>{{date.format('dddd, MMMM D YYYY')}}</h2>

      <article *ngFor="let timetableItem of data?.timetable">
        <ng-container *ngIf="date.format() === timetableItem.date.format()">
          <h3>{{timetableItem.title}}</h3>
          <p>Leader: {{timetableItem.wsLeader}}</p>
          <p>Co-tutor: {{timetableItem.wsCotutor}}</p>
          <p>Start time:
            <time> {{timetableItem.startTime}} </time>
          </p>
          <p>End time:
            <time> {{timetableItem.endTime}} </time>
          </p>
          <p>Room: {{timetableItem.roomName}}</p>
          <div *ngIf="timetableItem.roomDescription">RoomDescription: <span [outerHTML]="timetableItem.roomDescription"></span></div>
          <p>Description: {{timetableItem.description}}</p>
        </ng-container>
      </article>
    </section>
  </div>
</main>
