<md-toolbar color="primary">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h1>My activities</h1>
    <a [routerLink]="['/']"> Back to homepage</a>
  </div>
</md-toolbar>

<main class="container">
  <md-tab-group>
    <md-tab *ngFor="let item of dates">
      <ng-template md-tab-label>
        {{item}}
      </ng-template>

      <section *ngFor="let timetable of data?.timetable">
        <div *ngIf="item === timetable.date && timetable.type === 'workshop'">
          <h2>{{timetable.title }}</h2>
          <p>Starttime: <time> {{timetable.startTime}} </time></p>
          <p>Endtime: <time> {{timetable.endTime}} </time></p>
          <p>{{timetable.description}}</p>

          <h3>Workshop information</h3>
          <ul>
            <li *ngIf="timetable.roomName">Room: {{timetable.roomName}}</li>
            <li *ngIf="timetable.roomDescription">RoomDescription: {{timetable.roomDescription}}</li>
          </ul>

        </div>
      </section>
    </md-tab>
  </md-tab-group>
</main>
