.material-icons {
	display: inline-block;
	vertical-align: middle;

	font: {
		style: normal;
		weight: normal;
		variant: normal;
	}
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
