/* ==========================================================================
   Lists
   ========================================================================== */

/* Shared
   ========================================================================== */
ul, ol {
  margin: 1rem 0;
}

ol {
  padding: 0 0 0 2rem;
}


/* Reset
   ========================================================================== */
%list--reset, .list--reset {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    padding: 0;

    &:before {
      display: none;
    }

    li {
      margin: 0;
    }
  }
}
