<nav>
  <a [routerLink]="['/']">Back to homepage</a>
</nav>

<md-toolbar color="primary">
  <div fxLayout="row wrap" fxLayoutAlign="space-between">
    <h1>Login to application</h1>
  </div>
</md-toolbar>

<main class="container">
  <md-card fxLayout="column">
    <form (ngSubmit)="saveCredentials()" #loginForm="ngForm">
      <p>Give your username and password to see all your activities.</p>
      <div>
        <md-input-container>
          <input mdInput placeholder="username" [(ngModel)]="username" name="username">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="password" [(ngModel)]="password" name="password">
        </md-input-container>
      </div>

      <div fxLayout="row" fxLayoutGap="2%">
        <button type="submit" md-raised-button>Save</button>
        <a md-button [routerLink]="['/']">Cancel</a>
      </div>
    </form>
  </md-card>
</main>
