<nav>
  <a [routerLink]="['/']">Back to homepage</a>
</nav>
<h1>Credentials</h1>

<main class="container">
  <form (ngSubmit)="saveCredentials()" #loginForm="ngForm">
    <p>Give your username and password to see all your activities.</p>
    <p *ngIf="validationMessage.length > 0" class="invalid" role="alert">{{validationMessage}}</p>
    <div class="form-line">
      <label for="username">Username *</label>
      <input type="text" [(ngModel)]="username" name="username" id="username" required aria-required="true">
    </div>
    <div class="form-line">
      <label for="password">Password *</label>
      <input type="password" [(ngModel)]="password" name="password" id="password" required aria-required="true">
    </div>
    <div class="form-line">
      <button type="submit">Save</button>
      <a [routerLink]="['/']">Cancel</a>
    </div>
  </form>
</main>
