<nav>
  <a [routerLink]="['/']">Back to homepage</a>
</nav>

<h1>Credentials</h1>

<main class="container">
  <form (ngSubmit)="saveCredentials()" #loginForm="ngForm">
    <p>Give your username and password to see all your activities.</p>
    <div>
      <label for="username">Username</label>
      <input mdInput placeholder="username" [(ngModel)]="username" name="username" id="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input mdInput placeholder="password" [(ngModel)]="password" name="password" id="password">
    </div>
    <div>
      <button type="submit">Save</button>
      <a [routerLink]="['/']">Cancel</a>
    </div>
  </form>
</main>
