<h1>Homepage ICC-Camp</h1>

<main class="container">
  <nav>
    <div>
      <a [routerLink]="['/credentials']">Credentials</a>
    </div>
    <div>
      <a [routerLink]="['/myActivities']">My workshops</a>
    </div>
    <div>
      <a [routerLink]="['/myLeisureActivities']">My leisure time activities</a>
    </div>
    <div>
      <a href="/assets/static1.html">Static 1</a>
    </div>
    <div>
      <a href="/assets/static2.html">Static 2</a>
    </div>
    <div>
      <a href="/assets/static3.html">Static 3</a>
    </div>
    <div>
      <a href="/assets/static4.html">Static 4</a>
    </div>
  </nav>
</main>
