<md-toolbar color="primary">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <h1>Homepage ICC-Camp</h1>
      <a [routerLink]="['/credentials']">Login</a>
    </div>
</md-toolbar>

<main class="container">
    <md-card [routerLink]="['/myActivities']" class="actionButton">
      <a [routerLink]="['/myActivities']">My activities</a>
    </md-card>

    <md-card [routerLink]="['/myLeisureActivities']" class="actionButton">
      <a [routerLink]="['/myLeisureActivities']">My leisure activities</a>
    </md-card>

    <md-card class="actionButton">
      <a href="/assets/static1.html">Static 1</a>
    </md-card>

    <md-card class="actionButton">
      <a href="/assets/static2.html">Static 2</a>
    </md-card>

    <md-card class="actionButton">
      <a href="/assets/static3.html">Static 3</a>
    </md-card>

    <md-card class="actionButton">
      <a href="/assets/static4.html">Static 4</a>
    </md-card>







</main>

<!--
<div class="actionButton">
  Static1
</div>
<div class="actionButton">
  Static2
</div>
<div class="actionButton">
  Static3
</div>
<div class="actionButton">
  Static4
</div>
<div class="actionButton" [routerLink]="['/myActivities']">
  <a [routerLink]="['/myActivities']">My activities</a>
</div>
<div class="actionButton" [routerLink]="['/myLeisureActivities']">
  <a [routerLink]="['/myLeisureActivities']">My leisure activities</a>
</div>
<div class="actionButton" [routerLink]="['/credentials']">
  <a [routerLink]="['/credentials']">Credentials</a>
</div> -->
