<h1>ICC-Camp</h1>

<main class="container">
  <nav>
    <div>
      <a [routerLink]="['/credentials']">Credentials</a>
    </div>
    <div>
      <a [routerLink]="['/myActivities']">My workshops</a>
    </div>
    <div>
      <a href="/assets/my-leisure-activities.html">My leisure time activities</a>
    </div>
    <div>
      <a href="/assets/get-in-touch.html">Get in touch</a>
    </div>
    <div>
      <a href="/assets/food-and-drinks.html">Food and drinks</a>
    </div>
    <div>
      <a href="/assets/venue-info.html">Venue info</a>
    </div>
    <div>
      <a href="/assets/code-of-conduct.html">Code of conduct</a>
    </div>
  </nav>
</main>
